@import '../../assets/scss/_themes-vars.scss';


.repcardcon{
  background:#084298;
  color:$backgound;
}
.rep4h3{
  margin: 0;
  text-align: center;
  color: $backgound;
}

.rep4h4{
  margin: 0;
 
}


.repcardcon p{
  margin: 0;
  padding: 0;
}